.portfolio{
    background-color:white;
    display: flex;
  
    position:relative;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100vh;
    padding-top: 70px;
    @media (max-width:768px){
        justify-content: flex-start;
        margin-top: 0px;
    }
    h1{
        font-size: 50px;
        padding-bottom: 15px;
        
        @media (max-width:768px){
            flex-direction: column;
        }
    }
    ul{
        margin:10px;
        margin-bottom: 25px;
        padding:0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        margin-left: 40px;
      

    }
    .container{
       
        display: flex;
        width: 100%;
        height:50%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap:nowrap;
   
        @media (max-width:768px){
            margin:0px; 
        }

        @media (max-width:1409px){
           flex-wrap: nowrap;
           flex-direction: column;
           height: 100%;
        }
        
        .item{
             display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: transparent;
            background-color: rgb(70, 70, 70);
            align-items: center;
            margin:10px 20px;
            width: 80%;
            height: 80%;
            flex:1;
            
            transition: all 1s ease;
            cursor:pointer;
            position:relative;
            z-index: 0;
            @media (max-width:1409px){
                margin:5px 10px;
                height: 25%;
                width: 24%;
                //width: 70%;   
                //height: 30%;
                
            }
            @media (max-width:700px){
                margin:5px 10px;
                height: 25%;
                width: 74%;
                //width: 70%;   
                //height: 30%;
                
            }
            a{
                height: 100%;
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit:cover;
                    z-index: 1;
                }

                 &:hover{
                        background-color: black;
                        img{
                            opacity:0.2;
                            z-index:0;
                        }
                         }
                        h3{
                            position:absolute;
                            font-size: 20px;
                            color:white;
        
                        }
            }

        }
    
 
}
}
