@import "../../global.scss";
.intro{
    background-color:transparent;
    display:flex;
    flex-direction: row;
    height:100vh;
    width: 100vw;
    align-items: center;

  /*  @include mobile{
        flex-direction: column;
    }*/

    @media (max-width:1320px){
        flex-direction:column;
        height: 100vh;
    }

    .left{
        flex:0.5;
        background-color: white;
        overflow:hidden;
        justify-content: center;
        align-items: center;
        display:flex;

        @media (max-width:768px){
            
            justify-content: center;
            
     }
        .imgcontainer{
            width: 600px;
            height: 600px;
            margin-left: 50px;
            float:left;
            background-color: crimson;
            border-radius: 50%;
            display:flex;
            align-items:center;
            justify-content: center;
            overflow: hidden;
            @media (max-width:1320px){
                height: 100%;  
                margin: 0px;
         }
            @media (max-width:605px){
                height: 90%; 
                width: 90%;
                
         }
 
            img{
               
                height: 115%;
           
                @media (max-width:768px){
                
                }
            }
        }
    }
    .right{
        flex:0.5;
        background-color:white;
        position:relative;
        display: flex;
        flex-direction: column;
        

        div{
            width: 100%;
            height: 100%;
            margin-top: 30px;
            display:flex;
            flex-direction: column;
            justify-content:flex-start;
            @media (max-width:768px){
                align-items: center;
            }
            h1{
                font-size: 60px;
                margin:10px 0xp;
                word-wrap: break-word;
                @media (max-width:563px){
                    font-size: 40px;
                }
                @media (max-width:374px){
                    font-size: 25px;
                }
                
            }
            h2{
                font-size: 30px;
     
            }
            h3{
                font-size: 30px;
                span{
                    font-size:inherit;
                    color:crimson;
                }
                .ityped-cursor{
                    animation:blink 1s infinite;
                }
                @keyframes blink{
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
                @media (max-width:374px){
                    font-size: 15px;
                }
            }
        }
        a{
            position:absolute;
            bottom:10px;
            left:40%;
            margin-top: 100px;
            img{
                width: 10%;
                animation:arrowBlink 2s infinite;
            }
            @keyframes arrowBlink{
                100%{
                    opacity: 0;
                 
                }
            }
        }
    }

}
